<h1>To Do List</h1>
<h2>Add new stylist</h2>
<hr />

<form action="/stylists" method="post">
  <label for="stylistName">Stylist name:</label>
  <input id="stylistName" name="stylistName" type="text">
  <button type="submit">Add</button>
</form>

<h4><a href="/">Return home</a></h4>